.home {
  width: 100%;
  height: 80vh;
  background-image: url('../Assets/Home.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fraseHome {
  text-align: center;
  font-size: 48px;
  max-width: 800px;
  color: #F4AE00;
}
